<!doctype html>

<html>


  <head>
    <title>Comment</title>
  </head>

  <body>

    <form action="/comment" method="POST">
      <label>Title</label>
      <input type="text" name="title" id="title">

      <label>Your Comment</label>
      <input type="text" name="body" id="body">

      <input type="submit" name="comment" value="Send">

  </body>


</html>
  

