<!doctype html>

<html>

<head><title></title></head>

<body>

<a href="/comment">Comment</a>

</br>
</br>
</br>


<% commenti.forEach( function(commento) { %>

<div class="card">
 <div class="card-header">
  <%= commento.title %>
 </div>
 <div class="card-body">
  <p class="card-text"><%= commento.body %></p>
 </div>
 <div class="card-footer text-muter">
  <p class="card-text"><%= commento.date %></p>
 </div>

<% }); %>


</body>


</html>



