<!doctype html>

<html>

  <head>
    <title>
      Index
    </title>
    <script src="/js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>

<body>

  <h1>Hello</h1>
  <a href="/">index.html</a>

<script>

console.log("CIAO");

</script>

</body>


</html>
